.mediaViewInfo {
	--web-view-name: 02 data;
	--web-view-id: n_2_data;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_2_data;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_2_data {
	position: absolute;
	width: 1920px;
	height: 1525px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 02 data;
	--web-view-id: n_2_data;
	--web-enable-deep-linking: true;
}
#adp {
	display: none;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adq {
	fill: rgba(0,160,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.adq {
	position: absolute;
	overflow: visible;
	width: 1736px;
	height: 89px;
	left: 184px;
	top: 312px;
}
#adr {
	border: 0;
	left: 304px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#ads {
	position: absolute;
	width: 1080.313px;
	height: 486px;
	left: 420px;
	top: 466px;
	overflow: visible;
}
#adt {
	border: 0;
	left: 0.5px;
	top: 22.5px;
	position: absolute;
	overflow: visible;
	width: 491px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#adu {
	border: 0;
	left: 0.5px;
	top: 103.5px;
	position: absolute;
	overflow: visible;
	width: 423px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#adv {
	border: 0;
	left: 0.5px;
	top: 182.5px;
	position: absolute;
	overflow: visible;
	width: 423px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#adw {
	border: 0;
	left: 0.5px;
	top: 263.5px;
	position: absolute;
	overflow: visible;
	width: 768px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#adx {
	border: 0;
	left: 0.5px;
	top: 343.5px;
	position: absolute;
	overflow: visible;
	width: 768px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#ady {
	border: 0;
	left: 0.5px;
	top: 424.5px;
	position: absolute;
	overflow: visible;
	width: 768px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(57,57,57,0.788);
}
#adz {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.adz {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 81px;
	transform: matrix(1,0,0,1,0,0);
}
#aea {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aea {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#aeb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aeb {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 162px;
	transform: matrix(1,0,0,1,0,0);
}
#aec {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aec {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 243px;
	transform: matrix(1,0,0,1,0,0);
}
#aed {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aed {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 324px;
	transform: matrix(1,0,0,1,0,0);
}
#aee {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aee {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 405px;
	transform: matrix(1,0,0,1,0,0);
}
#aef {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aef {
	overflow: visible;
	position: absolute;
	width: 1080.313px;
	height: 3px;
	left: 0px;
	top: 486px;
	transform: matrix(1,0,0,1,0,0);
}
#aeg {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 495.172px;
	overflow: visible;
}
#aeh {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aei {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 573.261px;
	overflow: visible;
}
#aej {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aek {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 651.35px;
	overflow: visible;
}
#ael {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aem {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 651.35px;
	overflow: visible;
}
#aen {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aeo {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 729.439px;
	overflow: visible;
}
#aep {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aeq {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 815.293px;
	overflow: visible;
}
#aer {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aes {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 1437.515px;
	top: 909.293px;
	overflow: visible;
}
#aet {
	position: absolute;
	width: 33.465px;
	height: 24.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aeu {
	position: absolute;
	width: 1625.71px;
	height: 111.223px;
	left: 176px;
	top: 68.912px;
	overflow: visible;
}
#aev {
	fill: rgba(255,255,255,1);
}
.aev {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 197px;
	left: -176px;
	top: -68.912px;
}
#aew {
	border: 0;
	left: 1045px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#aex {
	border: 0;
	left: 630px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 332px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#aey {
	border: 0;
	left: 341px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#aez {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 1583.483px;
	top: 2.589px;
	overflow: visible;
}
#afa {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afb {
	position: absolute;
	width: 39.6px;
	height: 35.898px;
	left: 1500.617px;
	top: 0px;
	overflow: visible;
}
#afc {
	position: absolute;
	width: 39.6px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afd {
	position: absolute;
	width: 49.893px;
	height: 28px;
	left: 1407.736px;
	top: 2.589px;
	overflow: visible;
}
#afe {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(26,26,26,1);
}
#aff {
	fill: rgba(0,0,0,1);
}
.aff {
	overflow: visible;
	position: absolute;
	width: 15.873px;
	height: 12.432px;
	left: 34.02px;
	top: 12.516px;
	transform: matrix(1,0,0,1,0,0);
}
#afg {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 1328.843px;
	top: 0px;
	overflow: visible;
}
#afh {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afi {
	border: 0;
	left: 1510px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#afj {
	border: 0;
	left: 1342px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#afk {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 29.588px;
	overflow: visible;
}
#afl {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afm {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afn {
	border: 0;
	left: 92.48px;
	top: 3.82px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.4px;
}
#afo {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afp {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#afq {
	border: 0;
	left: 170.319px;
	top: 52.013px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#afr {
	position: absolute;
	width: 1920px;
	height: 340px;
	left: 0px;
	top: 1185px;
	overflow: visible;
}
#afs {
	fill: rgba(54,77,88,1);
}
.afs {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 218px;
	left: 0px;
	top: 122px;
}
#aft {
	fill: rgba(194,235,255,1);
}
.aft {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 111px;
	left: 0px;
	top: 0px;
}
#afu {
	fill: rgba(255,255,255,1);
}
.afu {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 11px;
	left: 0px;
	top: 111px;
}
#afv {
	border: 0;
	left: 1167.081px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#afw {
	border: 0;
	left: 1544.762px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#afx {
	position: absolute;
	width: 1646px;
	height: 153px;
	left: 137px;
	top: 162px;
	overflow: visible;
}
#afy {
	border: 0;
	left: 342px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1305px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,0.788);
}
#afz {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 28px;
	overflow: visible;
}
#aga {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#agb {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#agc {
	border: 0;
	left: 92.48px;
	top: 3.82px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.4px;
}
#agd {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#age {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#agf {
	border: 0;
	left: 170.319px;
	top: 52.013px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#agg {
	position: absolute;
	width: 484.427px;
	height: 51.282px;
	left: 192px;
	top: 30px;
	overflow: visible;
}