{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>02 data</title>
	<script id="applicationScript" type="text/javascript" src="02_data.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/a02data.css' %}">
</head>
<body>
	<div id="n_2_data">
	<img id="bb" src="{% static 'bb.png' %}" srcset="bb.png 1x">

	<svg class="adq">
		<rect id="adq" rx="44.5" ry="44.5" x="0" y="0" width="1736" height="89">
		</rect>
	</svg>
	<div id="adr">
		<span>DATA</span>
	</div>
	<div id="ads">
		<div id="adt">
			<span>2024년도 사단법인 사람과 건축 설립</span>
		</div>
		<div id="adu">
			<span>2024년도 장애물 없는 생활환경</span>
		</div>
		<div id="adv">
			<span>2024년도 사람과 건축 업무보고</span>
		</div>
		<div id="adw">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<div id="adx">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<div id="ady">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<svg class="adz" viewBox="0 0 1080.313 3">
			<path id="adz" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aea" viewBox="0 0 1080.313 3">
			<path id="aea" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aeb" viewBox="0 0 1080.313 3">
			<path id="aeb" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aec" viewBox="0 0 1080.313 3">
			<path id="aec" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aed" viewBox="0 0 1080.313 3">
			<path id="aed" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aee" viewBox="0 0 1080.313 3">
			<path id="aee" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="aef" viewBox="0 0 1080.313 3">
			<path id="aef" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
	</div>
	<div id="aeg">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aei">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aek">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aem">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aeo">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aeq">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aes">
		<img id="bfile" src="{% static 'images/bfile.png' %}" alt="bfile">

		</svg>
	</div>
	<div id="aeu" class="_____">
		<svg class="aev">
			<rect id="aev" rx="0" ry="0" x="0" y="0" width="1920" height="197">
			</rect>
		</svg>
		<div id="aew">
			<span>연구 및 공익사업</span>
		</div>
		<div id="aex">
			<span>장애물 없는 생활환경 인증</span>
		</div>
		<div id="aey">
			<span>사람과 건축 소개</span>
		</div>
		<div id="aez">
			<img id="buger" src="{% static 'images/buger.png' %}" alt="buger">

			</svg>
		</div>
		<div id="afb">
			<img id="search" src="{% static 'images/search.png' %}" alt="search">

			</svg>
		</div>
		<div id="afd">
			<div id="afe">
				<span>KR</span>
			</div>
			<svg class="aff" viewBox="0 0 15.873 12.432">
				<path id="aff" d="M 0 0.00030517578125 L 8.188465118408203 12.43235778808594 L 15.87321853637695 0.00030517578125 L 0 0.00030517578125 Z">
				</path>
			</svg>
		</div>
		<div id="afg">
			<img id="loginn" src="{% static 'images/loginn.png' %}" alt="loginn">

			</svg>
		</div>
		<div id="afi">
			<span>자료실</span>
		</div>
		<div id="afj">
			<span>게시판</span>
		</div>
		<div id="afk">
			<div id="afl">
				<a href="{% url 'pybo:a01index' %}">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

				</svg>
			</div>
			<div id="afn">
				<span>사단법</span><span>인</span>
			</div>
			<div id="afo">
				<img id="btext" src="{% static 'images/btext.png' %}" alt="btext">

				</svg>
			</div>
			<div id="afq">
				<span>과</span>
			</div>
		</div>
	</div>
	<div id="afr" class="_____">
		<svg class="afs">
			<rect id="afs" rx="0" ry="0" x="0" y="0" width="1920" height="218">
			</rect>
		</svg>
		<svg class="aft">
			<rect id="aft" rx="0" ry="0" x="0" y="0" width="1920" height="111">
			</rect>
		</svg>
		<svg class="afu">
			<rect id="afu" rx="0" ry="0" x="0" y="0" width="1920" height="11">
			</rect>
		</svg>
		<div id="afv">
			<span>개인정보처리방침</span>
		</div>
		<div id="afw">
			<span>서비스이용약관</span>
		</div>
		<div id="afx">
			<div id="afy">
				<span>법인명 : 사단법인 사람과건축 | 주소 : [31198] 충청남도 천안시 동남구 청수5로 9, 7층<br/>전화번호 : 041-900-4980 | 팩스번호 : 041-900-4981 | 이메일 : pbpb24@naver.com <br/>사업자등록번호 : 739-82-00614 ㅣ COPYRIGHT© 2024 (사)사람과건축. ALL RIGHT RESERVED </span><br/>
			</div>
			<div id="afz">
				<div id="aga">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

					</svg>
				</div>
				<div id="agc">
					<span>사단법</span><span>인</span>
				</div>
				<div id="agd">
					<img id="wtext" src="{% static 'images/wtext.png' %}" alt="wtext">

					</svg>
				</div>
				<div id="agf">
					<span>과</span>
				</div>
			</div>
		</div>
		<img id="bottom" src="{% static 'images/bottom.png' %}" alt="bottom">
			
		</svg>
	</div>
</div>
</body>
</html>