{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>03 notice</title>
	<script id="applicationScript" type="text/javascript" src="03_notice.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/a03notice.css' %}">
</head>
<body>
	<div id="n_3_notice">
	<img id="bb" src="{% static 'bb.png' %}" srcset="bb.png 1x">

	<svg class="agi">
		<rect id="agi" rx="44.5" ry="44.5" x="0" y="0" width="1736" height="89">
		</rect>
	</svg>
	<div id="agj">
		<span>NOTICE</span>
	</div>
	<div id="agk">
		<div id="agl">
			<span>2024년도 사단법인 사람과 건축 설립</span>
		</div>
		<div id="agm">
			<span>2024년도 장애물 없는 생활환경</span>
		</div>
		<div id="agn">
			<span>2024년도 사람과 건축 업무보고</span>
		</div>
		<div id="ago">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<div id="agp">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<div id="agq">
			<span>2024년도 장애물 없는 생활환경(BF)인증제도 교육 세미나</span>
		</div>
		<svg class="agr" viewBox="0 0 1080.313 3">
			<path id="agr" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="ags" viewBox="0 0 1080.313 3">
			<path id="ags" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="agt" viewBox="0 0 1080.313 3">
			<path id="agt" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="agu" viewBox="0 0 1080.313 3">
			<path id="agu" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="agv" viewBox="0 0 1080.313 3">
			<path id="agv" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="agw" viewBox="0 0 1080.313 3">
			<path id="agw" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
		<svg class="agx" viewBox="0 0 1080.313 3">
			<path id="agx" d="M 0 0 L 1080.3134765625 0">
			</path>
		</svg>
	</div>
	<svg class="agy">
		<rect id="agy" rx="140" ry="140" x="0" y="0" width="267" height="550">
		</rect>
	</svg>
	<svg class="agz">
		<rect id="agz" rx="80" ry="80" x="0" y="0" width="159" height="350">
		</rect>
	</svg>
	<svg class="aha">
		<rect id="aha" rx="80" ry="80" x="0" y="0" width="159" height="250">
		</rect>
	</svg>
	<div id="ahb" class="_____">
		<svg class="ahc">
			<rect id="ahc" rx="0" ry="0" x="0" y="0" width="1920" height="197">
			</rect>
		</svg>
		<div id="ahd">
			<span>연구 및 공익사업</span>
		</div>
		<div id="ahe">
			<span>장애물 없는 생활환경 인증</span>
		</div>
		<div id="ahf">
			<span>사람과 건축 소개</span>
		</div>
		<div id="ahg">
			<img id="buger" src="{% static 'images/buger.png' %}" alt="buger">

			</svg>
		</div>
		<div id="ahi">
			<img id="search" src="{% static 'images/search.png' %}" alt="search">

			</svg>
		</div>
		<div id="ahk">
			<div id="ahl">
				<span>KR</span>
			</div>
			<svg class="ahm" viewBox="0 0 15.873 12.432">
				<path id="ahm" d="M 0 0.00030517578125 L 8.188465118408203 12.43235778808594 L 15.87321853637695 0.00030517578125 L 0 0.00030517578125 Z">
				</path>
			</svg>
		</div>
		<div id="ahn">
			<img id="loginn" src="{% static 'images/loginn.png' %}" alt="loginn">

			</svg>
		</div>
		<div id="ahp">
			<span>자료실</span>
		</div>
		<div id="ahq">
			<span>게시판</span>
		</div>
		<div id="ahr">
			<div id="ahs">
				<a href="{% url 'pybo:a01index' %}">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

				</svg>
			</div>
			<div id="ahu">
				<span>사단법</span><span>인</span>
			</div>
			<div id="ahv">
				<img id="btext" src="{% static 'images/btext.png' %}" alt="btext">

				</svg>
			</div>
			<div id="ahx">
				<span>과</span>
			</div>
		</div>
	</div>
	<div id="ahy" class="_____">
		<svg class="ahz">
			<rect id="ahz" rx="0" ry="0" x="0" y="0" width="1920" height="218">
			</rect>
		</svg>
		<svg class="aia">
			<rect id="aia" rx="0" ry="0" x="0" y="0" width="1920" height="111">
			</rect>
		</svg>
		<svg class="aib">
			<rect id="aib" rx="0" ry="0" x="0" y="0" width="1920" height="11">
			</rect>
		</svg>
		<div id="aic">
			<span>개인정보처리방침</span>
		</div>
		<div id="aid">
			<span>서비스이용약관</span>
		</div>
		<div id="aie">
			<div id="aif">
				<span>법인명 : 사단법인 사람과건축 | 주소 : [31198] 충청남도 천안시 동남구 청수5로 9, 7층<br/>전화번호 : 041-900-4980 | 팩스번호 : 041-900-4981 | 이메일 : pbpb24@naver.com <br/>사업자등록번호 : 739-82-00614 ㅣ COPYRIGHT© 2024 (사)사람과건축. ALL RIGHT RESERVED </span><br/>
			</div>
			<div id="aig">
				<div id="aih">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

					</svg>
				</div>
				<div id="aij">
					<span>사단법</span><span>인</span>
				</div>
				<div id="aik">
					<img id="wtext" src="{% static 'images/wtext.png' %}" alt="wtext">

					</svg>
				</div>
				<div id="aim">
					<span>과</span>
				</div>
			</div>
		</div>
		<img id="bottom" src="{% static 'images/bottom.png' %}" alt="bottom">
			
		</svg>
	</div>
</div>
</body>
</html>