{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>05 intro</title>
	<script id="applicationScript" type="text/javascript" src="05_intro.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/a05intro.css' %}">
</head>
<body>
	<div id="n_5_intro">
	<svg class="aky">
		<rect id="aky" rx="0" ry="0" x="0" y="0" width="1920" height="894">
		</rect>
	</svg>
	<svg class="akz">
		<rect id="akz" rx="44.5" ry="44.5" x="0" y="0" width="1725" height="89">
		</rect>
	</svg>
	<div id="ala">
		<span>INTRODUCTION</span>
	</div>
	<svg class="alb">
		<rect id="alb" rx="0" ry="0" x="0" y="0" width="927" height="112">
		</rect>
	</svg>
	<div id="alc" class="_____">
		<svg class="ald">
			<rect id="ald" rx="0" ry="0" x="0" y="0" width="1920" height="197">
			</rect>
		</svg>
		<div id="ale">
			<span>연구 및 공익사업</span>
		</div>
		<div id="alf">
			<span>장애물 없는 생활환경 인증</span>
		</div>
		<div id="alg">
			<span>사람과 건축 소개</span>
		</div>
		<div id="alh">
			<img id="buger" src="{% static 'images/buger.png' %}" alt="buger">

			</svg>
		</div>
		<div id="alj">
			<img id="search" src="{% static 'images/search.png' %}" alt="search">

			</svg>
		</div>
		<div id="all">
			<div id="alm">
				<span>KR</span>
			</div>
			<svg class="aln" viewBox="0 0 15.873 12.432">
				<path id="aln" d="M 0 0.00030517578125 L 8.188465118408203 12.43235778808594 L 15.87321853637695 0.00030517578125 L 0 0.00030517578125 Z">
				</path>
			</svg>
		</div>
		<div id="alo">
			<img id="loginn" src="{% static 'images/loginn.png' %}" alt="loginn">

			</svg>
		</div>
		<div id="alq">
			<span>자료실</span>
		</div>
		<div id="alr">
			<span>게시판</span>
		</div>
		<div id="als">
			<div id="alt">
				<a href="{% url 'pybo:a01index' %}">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

				</svg>
			</div>
			<div id="alv">
				<span>사단법</span><span>인</span>
			</div>
			<div id="alw">
				<img id="btext" src="{% static 'images/btext.png' %}" alt="btext">

				</svg>
			</div>
			<div id="aly">
				<span>과</span>
			</div>
		</div>
	</div>
	<div id="alz" class="_____">
		<svg class="ama">
			<rect id="ama" rx="0" ry="0" x="0" y="0" width="1920" height="218">
			</rect>
		</svg>
		<svg class="amb">
			<rect id="amb" rx="0" ry="0" x="0" y="0" width="1920" height="111">
			</rect>
		</svg>
		<svg class="amc">
			<rect id="amc" rx="0" ry="0" x="0" y="0" width="1920" height="11">
			</rect>
		</svg>
		<div id="amd">
			<span>개인정보처리방침</span>
		</div>
		<div id="ame">
			<span>서비스이용약관</span>
		</div>
		<div id="amf">
			<div id="amg">
				<span>법인명 : 사단법인 사람과건축 | 주소 : [31198] 충청남도 천안시 동남구 청수5로 9, 7층<br/>전화번호 : 041-900-4980 | 팩스번호 : 041-900-4981 | 이메일 : pbpb24@naver.com <br/>사업자등록번호 : 739-82-00614 ㅣ COPYRIGHT© 2024 (사)사람과건축. ALL RIGHT RESERVED </span><br/>
			</div>
			<div id="amh">
				<div id="ami">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

					</svg>
				</div>
				<div id="amk">
					<span>사단법</span><span>인</span>
				</div>
				<div id="aml">
					<img id="wtext" src="{% static 'images/wtext.png' %}" alt="wtext">

					</svg>
				</div>
				<div id="amn">
					<span>과</span>
				</div>
			</div>
		</div>
		<img id="bottom" src="{% static 'images/bottom.png' %}" alt="bottom">
			
		</svg>
	</div>
</div>
</body>
</html>