{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>06 law</title>
	<script id="applicationScript" type="text/javascript" src="06_law.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/a06law.css' %}">
</head>
<body>
	<div id="n_6_law">
	<svg class="amp">
		<rect id="amp" rx="0" ry="0" x="0" y="0" width="1920" height="894">
		</rect>
	</svg>
	<svg class="amq">
		<rect id="amq" rx="0" ry="0" x="0" y="0" width="1920" height="922">
		</rect>
	</svg>
	<svg class="amr">
		<rect id="amr" rx="16" ry="16" x="0" y="0" width="708" height="59">
		</rect>
	</svg>
	<svg class="ams">
		<rect id="ams" rx="16" ry="16" x="0" y="0" width="708" height="59">
		</rect>
	</svg>
	<svg class="amt">
		<rect id="amt" rx="16" ry="16" x="0" y="0" width="708" height="59">
		</rect>
	</svg>
	<svg class="amu">
		<rect id="amu" rx="16" ry="16" x="0" y="0" width="708" height="59">
		</rect>
	</svg>
	<svg class="amv">
		<rect id="amv" rx="16" ry="16" x="0" y="0" width="708" height="59">
		</rect>
	</svg>
	<svg class="amw">
		<rect id="amw" rx="44.5" ry="44.5" x="0" y="0" width="1725" height="89">
		</rect>
	</svg>
	<div id="amx">
		<span>관련 법령</span>
	</div>
	<div id="amy">
		<span>장애인 노인 임산부 등의 편의증진 보장에 관한 법률</span>
	</div>
	<div id="amz">
		<span>장애인 노인 임산부 등의 편의증진 보장에 관한 시행령</span>
	</div>
	<div id="ana">
		<span>장애물 없는 생활환경 인증심사기준 및 수수료 기준 등</span>
	</div>
	<div id="anb">
		<span>장애인 노인 임산부 등의 편의 증진 보장에 관한 시행규칙</span>
	</div>
	<div id="anc">
		<span>장애물 없는 생활환경 인증에 관한 규칙</span>
	</div>
	<svg class="and">
		<rect id="and" rx="140" ry="140" x="0" y="0" width="267" height="449">
		</rect>
	</svg>
	<svg class="ane">
		<rect id="ane" rx="0" ry="0" x="0" y="0" width="159" height="313.144">
		</rect>
	</svg>
	<svg class="anf">
		<rect id="anf" rx="0" ry="0" x="0" y="0" width="159" height="188.052">
		</rect>
	</svg>
	<div id="ang" class="_____">
		<svg class="anh">
			<rect id="anh" rx="0" ry="0" x="0" y="0" width="1920" height="197">
			</rect>
		</svg>
		<div id="ani">
			<span>연구 및 공익사업</span>
		</div>
		<div id="anj">
			<span>장애물 없는 생활환경 인증</span>
		</div>
		<div id="ank">
			<span>사람과 건축 소개</span>
		</div>
		<div id="anl">
			<img id="buger" src="{% static 'images/buger.png' %}" alt="buger">

			</svg>
		</div>
		<div id="ann">
			<img id="search" src="{% static 'images/search.png' %}" alt="search">

			</svg>
		</div>
		<div id="anp">
			<div id="anq">
				<span>KR</span>
			</div>
			<svg class="anr" viewBox="0 0 15.873 12.432">
				<path id="anr" d="M 0 0.00030517578125 L 8.188465118408203 12.43235778808594 L 15.87321853637695 0.00030517578125 L 0 0.00030517578125 Z">
				</path>
			</svg>
		</div>
		<div id="ans">
			<img id="loginn" src="{% static 'images/loginn.png' %}" alt="loginn">

			</svg>
		</div>
		<div id="anu">
			<span>자료실</span>
		</div>
		<div id="anv">
			<span>게시판</span>
		</div>
		<div id="anw">
			<div id="anx">
				<a href="{% url 'pybo:a01index' %}">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

				</svg>
			</div>
			<div id="anz">
				<span>사단법</span><span>인</span>
			</div>
			<div id="aoa">
				<img id="btext" src="{% static 'images/btext.png' %}" alt="btext">

				</svg>
			</div>
			<div id="aoc">
				<span>과</span>
			</div>
		</div>
	</div>
	<div id="aod" class="_____">
		<svg class="aoe">
			<rect id="aoe" rx="0" ry="0" x="0" y="0" width="1920" height="218">
			</rect>
		</svg>
		<svg class="aof">
			<rect id="aof" rx="0" ry="0" x="0" y="0" width="1920" height="111">
			</rect>
		</svg>
		<svg class="aog">
			<rect id="aog" rx="0" ry="0" x="0" y="0" width="1920" height="11">
			</rect>
		</svg>
		<div id="aoh">
			<span>개인정보처리방침</span>
		</div>
		<div id="aoi">
			<span>서비스이용약관</span>
		</div>
		<div id="aoj">
			<div id="aok">
				<span>법인명 : 사단법인 사람과건축 | 주소 : [31198] 충청남도 천안시 동남구 청수5로 9, 7층<br/>전화번호 : 041-900-4980 | 팩스번호 : 041-900-4981 | 이메일 : pbpb24@naver.com <br/>사업자등록번호 : 739-82-00614 ㅣ COPYRIGHT© 2024 (사)사람과건축. ALL RIGHT RESERVED </span><br/>
			</div>
			<div id="aol">
				<div id="aom">
					<img id="logo" src="{% static 'images/logo.png' %}" alt="logo">

					</svg>
				</div>
				<div id="aoo">
					<span>사단법</span><span>인</span>
				</div>
				<div id="aop">
					<img id="wtext" src="{% static 'images/wtext.png' %}" alt="wtext">

					</svg>
				</div>
				<div id="aor">
					<span>과</span>
				</div>
			</div>
		</div>
		<img id="bottom" src="{% static 'images/bottom.png' %}" alt="bottom">
			
		</svg>
	</div>
</div>
</body>
</html>