.mediaViewInfo {
	--web-view-name: 06 law;
	--web-view-id: n_6_law;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_6_law;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_6_law {
	position: absolute;
	width: 1920px;
	height: 1520px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 06 law;
	--web-view-id: n_6_law;
	--web-enable-deep-linking: true;
}
#amp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amp {
	mix-blend-mode: soft-light;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 894px;
	left: 0px;
	top: 186px;
}
#amq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amq {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 922px;
	left: 0px;
	top: 375px;
}
#amr {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amr {
	position: absolute;
	overflow: visible;
	width: 708px;
	height: 59px;
	left: 518px;
	top: 475px;
}
#ams {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ams {
	position: absolute;
	overflow: visible;
	width: 708px;
	height: 59px;
	left: 518px;
	top: 565px;
}
#amt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amt {
	position: absolute;
	overflow: visible;
	width: 708px;
	height: 59px;
	left: 518px;
	top: 655px;
}
#amu {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amu {
	position: absolute;
	overflow: visible;
	width: 708px;
	height: 59px;
	left: 518px;
	top: 745px;
}
#amv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amv {
	position: absolute;
	overflow: visible;
	width: 708px;
	height: 59px;
	left: 518px;
	top: 835px;
}
#amw {
	fill: rgba(132,167,36,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.amw {
	position: absolute;
	overflow: visible;
	width: 1725px;
	height: 89px;
	left: -98px;
	top: 204px;
}
#amx {
	border: 0;
	left: 304px;
	top: 212px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#amy {
	border: 0;
	left: 533px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 575px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(57,57,57,0.788);
}
#amz {
	border: 0;
	left: 533px;
	top: 575px;
	position: absolute;
	overflow: visible;
	width: 600px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(57,57,57,0.788);
}
#ana {
	border: 0;
	left: 533px;
	top: 665px;
	position: absolute;
	overflow: visible;
	width: 600px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(57,57,57,0.788);
}
#anb {
	border: 0;
	left: 533px;
	top: 754px;
	position: absolute;
	overflow: visible;
	width: 632px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(57,57,57,0.788);
}
#anc {
	border: 0;
	left: 533px;
	top: 844px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(57,57,57,0.788);
}
#and {
	fill: rgba(255,145,0,1);
}
.and {
	width: 267px;
	height: 449px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,-58.2893,488.0728) rotate(50deg);
	transform-origin: center;
}
#ane {
	fill: rgba(255,145,0,1);
}
.ane {
	width: 159px;
	height: 313.144px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,1683.9278,758.9277) rotate(90deg);
	transform-origin: center;
}
#anf {
	fill: rgba(255,145,0,1);
}
.anf {
	width: 159px;
	height: 188.052px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,1746.4741,563.4739) rotate(90deg);
	transform-origin: center;
}
#ang {
	position: absolute;
	width: 1625.71px;
	height: 111.223px;
	left: 176px;
	top: 68.912px;
	overflow: visible;
}
#anh {
	fill: rgba(255,255,255,1);
}
.anh {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 197px;
	left: -176px;
	top: -68.912px;
}
#ani {
	border: 0;
	left: 1045px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#anj {
	border: 0;
	left: 630px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 332px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#ank {
	border: 0;
	left: 341px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#anl {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 1583.483px;
	top: 2.589px;
	overflow: visible;
}
#buger {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ann {
	position: absolute;
	width: 39.6px;
	height: 35.898px;
	left: 1500.617px;
	top: 0px;
	overflow: visible;
}
#search {
	position: absolute;
	width: 39.601px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#anp {
	position: absolute;
	width: 49.893px;
	height: 28px;
	left: 1407.736px;
	top: 2.589px;
	overflow: visible;
}
#anq {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(26,26,26,1);
}
#anr {
	fill: rgba(0,0,0,1);
}
.anr {
	overflow: visible;
	position: absolute;
	width: 15.873px;
	height: 12.432px;
	left: 34.02px;
	top: 12.516px;
	transform: matrix(1,0,0,1,0,0);
}
#ans {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 1328.843px;
	top: 0px;
	overflow: visible;
}
#loginn {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#anu {
	border: 0;
	left: 1510px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#anv {
	border: 0;
	left: 1342px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#anw {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 29.588px;
	overflow: visible;
}
#anx {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#anz {
	border: 0;
	left: 92.48px;
	top: 3.82px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.4px;
}
#aoa {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#btext {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aoc {
	border: 0;
	left: 170.319px;
	top: 52.013px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#aod {
	position: absolute;
	width: 1920px;
	height: 340px;
	left: 0px;
	top: 1184px;
	overflow: visible;
}
#aoe {
	fill: rgba(54,77,88,1);
}
.aoe {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 218px;
	left: 0px;
	top: 122px;
}
#aof {
	fill: rgba(194,235,255,1);
}
.aof {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 111px;
	left: 0px;
	top: 0px;
}
#aog {
	fill: rgba(255,255,255,1);
}
.aog {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 11px;
	left: 0px;
	top: 111px;
}
#aoh {
	border: 0;
	left: 1167.081px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#aoi {
	border: 0;
	left: 1544.762px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#aoj {
	position: absolute;
	width: 1646px;
	height: 153px;
	left: 137px;
	top: 162px;
	overflow: visible;
}
#aok {
	border: 0;
	left: 342px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1305px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,0.788);
}
#aol {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 28px;
	overflow: visible;
}
#aom {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aoo {
	border: 0;
	left: 92.48px;
	top: 3.82px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.4px;
}
#aop {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#wtext {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aor {
	border: 0;
	left: 170.319px;
	top: 52.013px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#bottom {
	position: absolute;
	width: 484.427px;
	height: 51.282px;
	left: 192px;
	top: 30px;
	overflow: visible;
}