.mediaViewInfo {
	--web-view-name: 07 search;
	--web-view-id: n_7_search;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_7_search;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_7_search {
	position: absolute;
	width: 1920px;
	height: 1520px;
	overflow: hidden;
	--web-view-name: 07 search;
	--web-view-id: n_7_search;
	--web-enable-deep-linking: true;
}
#aot {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aot {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1520px;
	left: 0px;
	top: 0px;
}
#aou {
	fill: rgba(255,255,255,1);
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aou {
	position: absolute;
	overflow: visible;
	width: 1112px;
	height: 64px;
	left: 404px;
	top: 304px;
}
#aov {
	border: 0;
	left: 467px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(57,57,57,0.788);
}
#aow {
	position: absolute;
	width: 39.6px;
	height: 35.898px;
	left: 1432.855px;
	top: 318.051px;
	overflow: visible;
}
#search {
	position: absolute;
	width: 39.601px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aoy {
	position: absolute;
	width: 1625.71px;
	height: 111.223px;
	left: 147px;
	top: 68.912px;
	overflow: visible;
}
#aoz {
	fill: rgba(255,255,255,1);
}
.aoz {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 197px;
	left: -176px;
	top: -68.912px;
}
#apa {
	border: 0;
	left: 1045px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#apb {
	border: 0;
	left: 630px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 332px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#apc {
	border: 0;
	left: 341px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#apd {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 1583.483px;
	top: 2.589px;
	overflow: visible;
}
#buger {
	position: absolute;
	width: 42.226px;
	height: 33.309px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apf {
	position: absolute;
	width: 39.6px;
	height: 35.898px;
	left: 1500.617px;
	top: 0px;
	overflow: visible;
}
#search {
	position: absolute;
	width: 39.601px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#aph {
	position: absolute;
	width: 49.893px;
	height: 28px;
	left: 1407.736px;
	top: 2.589px;
	overflow: visible;
}
#api {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(26,26,26,1);
}
#apj {
	fill: rgba(0,0,0,1);
}
.apj {
	overflow: visible;
	position: absolute;
	width: 15.873px;
	height: 12.432px;
	left: 34.02px;
	top: 12.516px;
	transform: matrix(1,0,0,1,0,0);
}
#apk {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 1328.843px;
	top: 0px;
	overflow: visible;
}
#loginn {
	position: absolute;
	width: 35.898px;
	height: 35.898px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apm {
	border: 0;
	left: 1510px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#apn {
	border: 0;
	left: 1342px;
	top: 71.088px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#apo {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 29.588px;
	overflow: visible;
}
#app {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apr {
	border: 0;
	left: 92.479px;
	top: 3.82px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.4px;
}
#aps {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#btext {
	position: absolute;
	width: 273.352px;
	height: 81.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apu {
	border: 0;
	left: 170.319px;
	top: 52.013px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -2px;
	text-align: left;
	font-family: 12LotteMartDreamMedium;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}